@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .reset-button {
        @apply
            m-3 
            text-2xl 
            border-4 
            border-slate-900 
            pt-2 
            pb-3 
            pl-6 
            pr-6 
            rounded-full 
            hover:scale-110 
            hover:bg-slate-900 
            hover:text-slate-100 
            ease-in-out 
            duration-200
    }
}